<html>
<head>
<title>Month End</title>	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
<link rel="stylesheet" href="css/style.css" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="js/file.js"></script>

</head>
<body>
	  <noscript>
        <h1>Checking Javascript</h1>
        <div class="unavailable">
            Javascript is not available in your browser.<br />
            Please,<br />
            <b><i>active Javascript</i></b>.<br />            
        </div>
    </noscript>

	<div id="Title" align="center">
		<label><h2>Monthly Balance</h2></label>	
	</div>
	<div id="data" ng-app="calculate" ng-controller="ctrl"  align="center">
			<hr>
			<label><h2>Monthly fixed costs</h2></label>

		<label id="Salary">Salary:</label>
	      <input type="number" ng-model="salary">            
	      <h3>Salary: {{salary}} €</h3>	

		<label id="Rental">Rental bill:</label>
	      <input type="number" ng-model="rentb">            
	      <h3>Rental bill: {{rentb}} €</h3>

		<label id="Comunity">Comunity bill:</label>
			<input type="number" ng-model="comub">      
	      <h3>Comunity bill: {{comub}} €</h3>

		<label id="Electricity">Electricity bill:</label>
			<input type="number" ng-model="elecb">      
	      <h3>Electricity bill: {{elecb}} €</h3>
			
		<label id="Water">Water bill:</label>
			<input type="number" ng-model="watb">      
	      <h3>Water bill: {{watb}} €</h3>

	      <label id="Internet">Internet bill:</label>
			<input type="number" ng-model="intb">      
		<h3>Internet bill: {{intb}} €</h3>
			
	    <label id="Gas">Gas bill:</label>
	      <input type="number" ng-model="gasb">      
		<h3>Gas bill: {{gasb}} €</h3>

		<div id="Balance" ng-style="balance">
			<label><h2>Balance for food, transport etc:</h2></label>
	      <h3>{{salary - rentb - comub - elecb - watb - intb - gasb}} €</h3>      
	  	</div>

	</div>
</body>
</html>